# ---------- macOS ----------
.DS_Store

# ---------- VS Code ----------
.vscode/

# ---------- .NET ----------
backend/ChatApp.API/bin
backend/ChatApp.API/obj

# ---------- React ----------
frontend/node_modules
frontend/dist

# ---------- Environment ----------
.env
.env.local

# ---------- Logs ----------
*.log

# ---------- User files ----------
*.user
*.suo

# ---------- appsettings.json ----------
backend/ChatApp.API/appsettings.json